<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('main') }}"><img src="{{ asset('assets/favicon/apple-touch-icon.png') }}" alt="Logo Mercadona" width="64" height="64"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('main') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('products_index') }}">Catalogue</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
                    {% if is_granted('ROLE_PRODUCT_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link nav-admin" href="{{ path('admin_index') }}">Espace admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link nav-logout" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-login" href="{{ path('app_login') }}">Connexion</a>
                    </li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
