{% extends "base.html.twig" %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <main class="container">
        <h1>Liste des produits</h1>

        <form method="GET" action="{{ path('products_index') }}" class="categorie-list">
            <div class="form-group">
                <label for="category">Trier par catégorie :</label>
                <select name="category" id="category" class="form-control">
                    <option value="">Toutes les catégories</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if selectedCategory == category.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Trier</button>
        </form>

        <div class="row justify-content-center">
            {% for product in products %}
                {% set discount = null %}
                {% if selectedCategory is empty or product.categories.id == selectedCategory %}
                    {% for promotion in promotions %}
                        {% if promotion.startDate <= now|date('Y-m-d') and promotion.endDate >= now|date('Y-m-d') and promotion.product.id == product.id %}
                            {% set discount = promotion %}
                        {% endif %}
                    {% endfor %}
                    
                    <div class="col-3 mb-3">
                        <article class="card {% if discount is not empty %}promo{% endif %} h-100">
                            {% if product.images is not empty %}
                                <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ product.images[0].name ) }}" class="card-img-top" alt="{{ product.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h2 class="card-field card-title">{{ product.name }}</h2>
                                <p class="card-field card-text">{{ product.description }}</p>
                                {% if discount is not empty %}
                                    <p class="card-field card-price">Prix : <s>{{ product.price }}</s> &#x2794; <span>{{ product.price - (product.price * discount.discount / 100) }}€ (-{{ discount.discount }}%)</span></p>
                                {% else %}
                                    <p class="card-field card-price">Prix : {{ product.price }}€</p>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}